name: Ruby

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
      - rc-**

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        ruby: [3.0, 3.1, 3.2, 3.3]

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Ruby ${{ matrix.ruby }}
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
    - name: Build and rspec test
      run: |
        gem install bundler
        bundle install --jobs 4 --retry 3
        rubocop
        bundle exec rspec
